.layout{
    display: grid;
    grid-template-areas: "left main right";
    margin-top: 100px;
    column-gap: 25px;
    grid-template-columns: minmax(0,8fr) minmax(0,10fr) minmax(300px , 9fr);
    row-gap: 25px;
}
@media (max-width : 1068px) {
    .layout{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
}